In [4]:
import matplotlib as mlt
import numpy as np #to do mathamatical eqn
import pandas as pd #Data format
%matplotlib inline
import seaborn as sns #GUI or visualization 
from sklearn import metrics
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier

np.random.seed(0)

In [2]:
#uses For ETM,Accuracy is higher ,Multiclass object detection ,Kinet or track the movements 
#we have the traing set identifiy the body parts and then we go for classfier 
#in supervised leaning ->Classification -> KNN,Naive Bayes,Decision Tree,Random Forest
#Importance of random forest here 1)we dont have over fiitng 2) high accuracy 3)he can estimate missing data 
#he can take random decision 2) he has multiple Decision then he can decide the mejorty of decisions

In [6]:
#dataset is iris 
#problem statemenet spaces to find out the flowers

In [11]:
#creating the object of dataset
iris=load_iris()
df=pd.DataFrame(iris.data,columns=iris.feature_names)
#print(iris)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [12]:
#Adding the new col for species name
df['species']=pd.Categorical.from_codes(iris.target,iris.target_names)

df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [13]:
#Adding anather col 
df['is_train']=np.random.uniform(0,1,len(df)) <=0.75

df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,is_train
0,5.1,3.5,1.4,0.2,setosa,True
1,4.9,3.0,1.4,0.2,setosa,True
2,4.7,3.2,1.3,0.2,setosa,True
3,4.6,3.1,1.5,0.2,setosa,True
4,5.0,3.6,1.4,0.2,setosa,True

In [15]:
#creating dataFrame with test rows and training rows

train,test =df[df['is_train']==True],df[df['is_train']==False]

#Shoow the number of obersevation for the test and traing dataframe

print('the number of oberservation of training data ',len(train))
print('the number of oberservation of testing data ',len(test))

the number of oberservation of training data  118
the number of oberservation of testing data  32

In [ ]:
#create a list of the feature col names
features=df.columns[:4]